/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Event Camp Premium
Version:	1.0

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

	1. Body
	2. Header / #home
		2.1. Navigation / .main-menu
	3. Conference / .conference
	4. About / #about
	5. Speakers / .speakers
		5.1 Speaker Option ( with Orange Background, 3 Column ) / .speakers.orange
		5.1 Speaker Option ( with Black Background, 2 Column ) / .speakers.black
	6. Schedule / .schedule
		6.1 Schedule ( with White Background ) / .schedule.white-column
		6.2 Schedule ( with Black Background ) / .schedule.black
	7. Sponsors / .sponsors
		7.1 Sponsors ( Four items )/ .sponsors.white
		7.2 Sponsors ( Six items )/ .sponsors.black
	8. Price Section / .prices
		8.1 Price Section ( with Black Background, Three Columns ) / .prices.black-section
		8.2 Price Section ( with White Background, Four Columns ) / .prices.black-section
	9. Testiominals / .testiominals
		9.1 Testiominals ( Full Width ) / .testiominals.full-width
		9.2 Testiominals ( Three Columns ) / .testiominals.three-columns
	10. Subscribe / .subscribe
	11. Bottom Social / .bottom-social
	12. Contact Us / .contact-us
		12.1 Contact Us ( Full width Map with Contact Form) / .contact-us.form
		12.2 Contact Us ( Map With Right Side ) / .contact-us.details-left
	13. Footer / footer
	14. Back to Top / #back-to-top
-------------------------------------------------------------------*/
@import "font.css";
/*------------------------------------------------------------------
[1. Body ]
*/
*{transition:all 0.5s ease;outline:none;}
html, body{height:100%;width:100%;color:#fff;}
h1, h2, h3, h4, h6{font-family:RobotoSlab-Thin;margin:20px 0}
h1{font-size:60px}
h1 strong{font-family:RobotoSlab-Bold;}
i{color:#f25421}
ul{padding:0}
li{list-style:none}
a:hover, a:active{text-decoration:none;}
a{color:#ed5e31;}
.no-display{display:none;}
a:focus, a:hover{color:#ed5e31;}
.form-control::-webkit-input-placeholder{color:#ffffff;}
.form-control::-moz-placeholder{color:#ffffff;}
.form-control::-ms-placeholder{color:#ffffff;}
.form-control:-moz-placeholder{color:#ffffff;}
p.block-title, h2.block-title{color:#f25421;margin-bottom:70px;margin-top:0;text-transform:uppercase;font-size:60px;font-family:'RobotoSlab-Thin'}
p.block-title strong, h2.block-title strong{font-family:'RobotoSlab-Bold'}
.no-margin{margin:0}
section{padding:135px 0;}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{box-shadow:none;}
/*------------------------------------------------------------------
[2. Header / #home]
*/
.banner-title{display:inline-block;text-align:center;vertical-align:middle;width:100%;}
.banner-title h1{padding:0;color:#f25421;text-transform:uppercase;}
#home{background:url(https://d2vyf30iypaegv.cloudfront.net/static/hackathon/images/home-main-banner.png) no-repeat center center fixed;display:table;height:100%;padding-top:146px;position:relative;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding-bottom:0}
#home.inner-page{background:rgba(0, 0, 0, 0) url("../images/inner-page-banner.jpg") no-repeat center top / cover;padding-top:75px;height:auto;}
#home.inner-page nav.main-menu{background:#131414}
#home.inner-page .banner-title h1{font-size:36px;padding:5px 0 65px;}
.event-schedule{border-bottom:1px solid #5b5b5b;border-top:1px solid #5b5b5b;display:inline-block;margin:30px 0 50px;padding:20px 0;}
.event-schedule span{border-right:1px solid #68625e;color:#fff;font-family:"Montserrat-Light";font-size:30px;padding:5px 30px;text-transform:uppercase;}
.event-schedule span:last-child{border-right:none;}
.event-description{color:#fff;font-family:"Montserrat-Light";font-size:36px;margin-bottom:50px;margin-top:60px;}
.event-description strong{color:#f25421;font-family:Montserrat-SemiBold;}
.register-now-section{display:inline-block;margin:50px 0;}
.video-play{background-color:#fff;border:5px solid #312822;border-radius:100%;cursor:pointer;display:inline-block;padding:23px 24px 22px 31px;}
.video-play:hover{background-color:#f25421;}
.video-play:hover i{color:#fff}
.video-play .fa.fa-play{font-size:18px}
.register-now-btn{background-color:#f25421;border-radius:50px;color:#fff;display:inline-block;font-family:"Montserrat-bold";font-size:20px;margin-left:20px;padding:22px 50px;text-transform:uppercase;}
.register-now-section .register-now-btn{}
.subscribe .register-now-btn{font-size:24px;}
.register-now-btn i{color:#fff;position:relative;right:0;transition:right 0.5s ease 0s;}
.register-now-btn:hover, .register-now-btn:active, .register-now-btn:focus{background-color:#fff;color:#f25421;text-decoration:none;}
.register-now-btn:hover i, .register-now-btn:active i, .register-now-btn:focus i{color:#f25421;right:-10px;}
.styles-button{background:#fff;border-radius:50px;border:1px solid #fff;color:#f25421;padding:22px 50px;margin:20px 0 0 0;text-transform:uppercase;font-family:"Montserrat-bold";font-size:20px;display:inline-block;}
.styles-button i{color:#f25421}
.styles-button:hover,.styles-button:active,.styles-button:focus{background:transparent;color:#fff}
.styles-button:hover i{color:#fff}
.top-social{display:inline-block;margin-top:22px;margin-bottom:50px;width:100%;}
.top-social a{border-right:1px solid #4a4847;color:#fff;font-size:20px;padding:0 15px;}
.top-social a:last-child{border-right:none;}
.top-social a:hover{color:#f25421}
/*------------------------------------------------------------------
[2.1 Menu / .main-menu]
*/
.menu.fixed{background:rgba(0,0,0,0.9);position:fixed;top:0;left:0;margin:0;z-index:9999}
.header-left{display:none;color:#f25421;font-size:18px;}
.menu.fixed .header-left{display:inline-block;padding:22px 0;vertical-align:top;margin-right:35px;width:auto;}
.menu.fixed .header-right{display:inline-block;text-align:left;margin-left:35px}
.drawer-nav{position:fixed;z-index:101;top:0;overflow:scroll;width:50%;height:100%;background-color:rgba(0,0,0,0.8);}
.drawer-brand{font-size:1.5rem;font-weight:bold;line-height:3.75rem;display:block;padding-right:.75rem;padding-left:.75rem;text-decoration:none;color:#222;}
.drawer-menu{margin:0;padding:00px 0px;list-style:none;}
.drawer-menu > li{border-top:1px solid rgba(255, 255, 255, 0.1);position:relative;transform:perspective(1px) translateZ(0px);transition-duration:0.3s;transition-property:color;vertical-align:middle;}
.drawer-menu > li::before{background:#2098d1 none repeat scroll 0 0;bottom:0;content:"";left:0;position:absolute;right:0;top:0;transform:scaleX(0);transform-origin:0 50% 0;transition-duration:0.3s;transition-property:transform;transition-timing-function:ease-out;z-index:-1;}
.drawer-menu > li:last-child{border-bottom:1px solid rgba(255, 255, 255, 0.1);}
.drawer-menu > li:hover .drawer-menu-item{transform:scaleX(1);}
.drawer-menu-item{font-size:1.55rem;display:block;padding:1.1rem 4.75rem;text-decoration:none;color:#fff;text-align:left;font-family: "Montserrat-Light"}
.drawer-menu-item:hover{text-decoration:none;color:#fff;background:rgba(242, 84, 33, 0.7) none repeat scroll 0 0;}
.drawer-menu-item:hover .arrow-down{color: #fff !important}
.drawer-overlay{position:fixed;z-index:100;top:0;left:0;display:none;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6);}
.drawer-open .drawer-overlay{display:block;}
.drawer--left .drawer-nav{left:-50%;-webkit-transition:left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);transition:left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.drawer--left.drawer-open .drawer-nav, .drawer--left .drawer-hamburger, .drawer--left.drawer-open .drawer-navbar .drawer-hamburger{left:0;}
.drawer-hamburger{background:rgba(0,0,0,0.8);position:fixed;z-index:104;top:0;display:block;box-sizing:content-box;width:3rem;padding:14px 0.75rem 25px;-webkit-transition:all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);transition:all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);border:0;outline:0;}
.drawer--left.drawer-open .drawer-hamburger{width: 2rem;left:48%;border-radius: 50%;padding: 14px 11px}
.drawer-hamburger:hover{cursor:pointer;opacity:0.8;}
.drawer-hamburger-icon{position:relative;display:block;margin-top:10px;}
.drawer-hamburger-icon, .drawer-hamburger-icon:before, .drawer-hamburger-icon:after{width:100%;height:2px;-webkit-transition:all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);transition:all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);background-color:#BB4019;}
.drawer-hamburger-icon:before, .drawer-hamburger-icon:after{position:absolute;top:-10px;left:0;content:' ';}
.drawer-hamburger-icon:after{top:10px;}
.drawer-open .drawer-hamburger-icon{background-color:transparent;}
.drawer-open .drawer-hamburger-icon:before, .drawer-open .drawer-hamburger-icon:after{top:0;}
.drawer-open .drawer-hamburger-icon:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.drawer-open .drawer-hamburger-icon:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.nav.navbar-nav > li{position:relative;}
.drawer--left.drawer-open.drawer-hamburger-icon,.drawer--left.drawer-open .drawer-hamburger-icon::before, .drawer--left.drawer-open .drawer-hamburger-icon::after{background-color: #fff;top: -4px}
.drawer--left.drawer-open .drawer-hamburger{top: 30% !important;background: rgb(242,84,33);border:1px solid #000;z-index: 9999}
.drawer-menu .sub-menu,.nav.navbar-nav ul.sub-menu{background:rgb(19, 20, 20) none repeat scroll 0 0;border-top:4px solid rgb(242, 84, 33);max-width:180px;width:180px;position:absolute;left:5px;visibility:hidden;top: 60px;z-index: 99999}
.drawer-menu .sub-menu{height:150px;overflow:scroll;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(255, 255, 255, 0.1);visibility:visible;border:none;}
.drawer-menu .sub-menu{display:none;}
.drawer-menu .sub-menu li,.nav.navbar-nav ul.sub-menu li{display:inline-block;width:100%;border-bottom: 1px solid rgba(255, 255, 255, 0.1);transition: all 0s ease; }
.drawer-menu .sub-menu li:last-child,.nav.navbar-nav ul.sub-menu li:last-child{border-bottom: none;}
.drawer .header-left{padding:60px 0;text-align:center;width:100%;background:rgba(0, 0, 0, 0) url() no-repeat fixed center center;}
.drawer-menu .sub-menu li a,.nav.navbar-nav ul.sub-menu li a{padding:10px 30px;text-align:left;display:inline-block;width:100%;color:#fff;transition: all 0s ease; }
.arrow-down{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #fff;position:absolute;right:10px;bottom:16px;}
.drawer-menu ul.sub-menu li a:hover, .drawer-menu ul.sub-menu li a:active,.drawer-menu ul.sub-menu li a:focus, .nav.navbar-nav ul.sub-menu li a:hover,.nav.navbar-nav ul.sub-menu li a:active,.nav.navbar-nav ul.sub-menu li a:focus{color:#ffffff;background:rgb(242, 84, 33);text-decoration:none;}
.drawer-menu li:hover > ul.sub-menu, .nav.navbar-nav li:hover > ul.sub-menu{visibility:visible;}
.main-menu{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:transparent;border-color:#252323;border-image:none;border-style:solid none none;border-width:1px medium medium;display:inline-block;margin-bottom:0;text-align:center;width:100%;}
.main-menu .navbar-nav{display:inline-block;float:none;padding:10px 0;text-align:center;}
.main-menu .navbar-nav > li > a{color:#fff;display:inline-block;font-family:"Montserrat-Medium";font-size:16px;text-transform:uppercase;text-decoration:none;}
.main-menu .navbar-nav > li > a:hover{color:#f25421 !important;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover,.navbar-default.main-menu .navbar-nav .navbar-nav > li > a:hover,.navbar-default.main-menu .navbar-nav > li:active > a,.navbar-default.main-menu .navbar-nav > li > a:active,.navbar-default.main-menu .navbar-nav > li > a:focus{color:#f25421 !important;background:transparent !important;}
.main-menu .navbar-nav li span{display:inline-block;font-family:"Montserrat-Medium";}
.drawer-menu li.active, .drawer-menu li:focus{background:#f25421 none repeat scroll 0 0;color:#ffffff;transition:all 0.3s ease 0s;}
.drawer-menu li.active a, .drawer-menu li:focus{color:#fff;text-decoration:none;}
/*------------------------------------------------------------------
[3 Conference / .conference]
*/
.conference{background-color:#f25421;padding:135px 0}
.conference h2{font-size:60px;text-align:center;text-transform:uppercase;}
.conference h2 strong{font-family:'RobotoSlab-Bold';}
.count-down{display:inline-block;text-align:center;}
.count-down .count-day{border-right:1px solid #f68864;display:inline-block;margin:50px 0 40px 0;width:20%}
.count-down .count-day:last-child{border-right:none !important}
.count-down .count-day .count-number{border-bottom:1px solid #f68864;display:inline-block;font-family:"Montserrat-ExtraBold";font-size:60px;padding:28px 45px 10px 45px;text-align:center;width:100%;}
.count-down .count-day .count-label{display:inline-block;font-family:"Montserrat-Light";font-size:24px;padding:28px 45px;text-align:center;text-transform:uppercase;width:100%;}
.count-down-description{font-family:"Montserrat-Medium";font-size:20px;padding:0 80px;}
.count-down .register-now-btn{border:1px solid #fff;background-color:#fff;width:300px;color:#f25421;margin-top:30px}
.count-down .register-now-btn i{color:#f25421}
.count-down .register-now-btn:hover{background-color:transparent;color:#fff}
.count-down .register-now-btn:hover i{color:#fff}
/*------------------------------------------------------------------
[4. About / #about ]
*/
#about{background:url(../images/about-us-banner.png) no-repeat center center fixed;display:table;position:relative;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.about-us{padding:135px 0}
.about-us h3{font-family:'Montserrat-SemiBold';font-size:26px;margin-bottom:45px;}
.about-us p{font-family:'Montserrat-Light';font-size:16px;line-height:30px;}
.about-us p.block-title{color:#f25421;margin-bottom:70px;text-transform:uppercase;font-size:60px;font-family:'RobotoSlab-Thin'}
.about-us p.block-title strong{font-family:'RobotoSlab-Bold'}
/*------------------------------------------------------------------
[5. Speakers / .speakers ]
*/
.speakers{padding:135px 0;text-align:center;}
.speakers .speaker-block{margin-bottom:30px;position:relative;display:inline-block;}
.speakers .speaker-block .speaker-details{background-color:#ed5e31;bottom:20px;height:90px;left:11%;overflow:hidden;padding:22px;position:absolute;right:11%;transition:all 0.3s ease 0s;}
.speakers .speaker-block .speaker-details .speaker-name{display:inline-block;font-size:20px;width:100%;text-transform:uppercase;font-family:'RobotoSlab-Bold'}
.speakers .speaker-block .speaker-details .speaker-designation{display:inline-block;font-size:13px;width:100%;font-family:'Montserrat-Light'}
.speakers .speaker-meta, .speakers .social-meta{border-top:1px solid rgba(255, 255, 255,0.4);margin-top:20px;padding-top:20px;}
.speakers .social-meta{margin-bottom:20px;}
.speakers .social-meta a{margin-right:8px;}
.speakers .social-meta a i{border:2px solid #ffffff;border-radius:50%;color:#ffffff;font-size:18px;height:40px;padding-top:8px;text-align:center;width:40px;}
.speakers .social-meta a:hover i{background:#ffffff;color:#ed5e31;}
.speakers .styles-button{background:#f25421;color:#fff}
.speakers .styles-button i{color:#fff}
.speakers .styles-button:hover{background:transparent;color:#f25421;border-color:#f25421}
.speakers .styles-button:hover i{color:#f25421}
@keyframes flipInX{from{-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);transform:perspective(400px) rotate3d(1, 0, 0, 90deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0;}
40%{-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);transform:perspective(400px) rotate3d(1, 0, 0, -20deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
60%{-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);transform:perspective(400px) rotate3d(1, 0, 0, 10deg);opacity:1;}
80%{-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -5deg);transform:perspective(400px) rotate3d(1, 0, 0, -5deg);}
to{-webkit-transform:perspective(400px);transform:perspective(400px);}
}
.speakers .speaker-block:hover .speaker-details{animation-duration:1s;animation-fill-mode:both;animation-name:flipInX;backface-visibility:visible !important;background:rgba(237, 94, 49,0.9);padding-top:30px;height:calc(100% - 45px);-webkit-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipInX;animation-name:flipInX;-webkit-padding-before:22px;}
.speakers .column{color:#f25421;display:inline-block;font-size:24px;letter-spacing:3px;margin-bottom:50px;text-transform:uppercase;font-family:'Montserrat-SemiBold';width:100%;}
/*------------------------------------------------------------------
[5.1 Speaker Option ( with Orange Background, 3 Column ) / .speakers.orange ]
*/
.speakers.orange{background:#f25421}
.speakers.orange .column{color:#fff}
.speakers.orange .speaker-block .speaker-details{background:#fff}
.speakers.orange .speaker-block .speaker-details .speaker-name{color:#f25421}
.speakers.orange .speaker-block .speaker-details .speaker-designation{color:#f25421}
.speakers.orange .speaker-block:hover .speaker-details .speaker-name,.speakers.orange .speaker-block:hover .speaker-details .speaker-designation{color:#fff}
.speakers.orange .speaker-block:hover .speaker-details{animation-duration:1s;animation-fill-mode:both;animation-name:flipInX;backface-visibility:visible !important;background:rgba(0, 0, 0,0.8);padding:50px 30px;height:calc(100% - 45px);-webkit-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipInX;-webkit-padding-before:22px;animation-name:flipInX;}
.speakers.orange .speaker-meta{padding-top:45px;line-height:27px;margin-top:30px;}
.speakers.orange .social-meta{margin-top:45px}
/*------------------------------------------------------------------
[5.2 Speaker Option ( with Black Background, 3 Column ) / .speakers.black ]
*/
.speakers.black{background:#131414}
.speakers.black .column{color:#fff}
.speakers.black .speaker-block .speaker-details{background:rgba(0,0,0,0.7);left:5%;right:5%}
.speakers.black .speaker-block:hover .speaker-details{animation-duration:1s;animation-fill-mode:both;animation-name:flipInX;backface-visibility:visible !important;background:rgba(237, 94, 49, 0.9);padding:50px 40px;height:calc(100% - 45px);-webkit-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipInX;-webkit-padding-before:22px;animation-name:flipInX;}
.speakers.black .speaker-block .speaker-details{height:100px;}
.speakers.black .speaker-block .speaker-details .speaker-name{font-size:2em;}
.speakers.black .speaker-block .speaker-details .speaker-designation{font-size:1em;}
.speakers.black .speaker-meta{font-size:1.7em;padding-top:10%;}
.speakers.black .social-meta{margin-top:10%;}
/*------------------------------------------------------------------
[6. Schedule / .schedule ]
*/
.schedule{padding:135px 0;background-color:#f25421}
.schedule p.block-title{color:#fff;text-align:center;}
.schedule .nav-tabs{border-color:#f58864;display:inline-block;margin-top:20px;margin-bottom:30px;padding-bottom:30px;width:100%;}
.schedule .nav-tabs > li{border-right:1px solid #f58864;padding:10px 20px;text-align:center;width:25%;}
.schedule .nav-tabs > li:last-child{border-right:none;}
.schedule .nav-tabs > li > a{border-color:#fff;border-radius:50px;border-width:2px;color:#fff;font-family:"Montserrat-Bold";font-size:26px;padding:28px 0;text-align:center;width:100%;}
.schedule .nav-tabs > li.active, .schedule .nav-tabs > li.active a, .schedule .nav-tabs > li > a:hover, .schedule .nav-tabs > li > a:active, .schedule .nav-tabs > li > a:focus{color:#f15421;outline:none;}
.schedule .speakers-list{border-bottom:1px solid #f58864;display:inline-block;margin-bottom:30px;text-align:center;width:100%;}
.schedule .speakers-list:last-child{margin-bottom:0}
.schedule .speakers-list .left-section{border-right:1px solid #f58864;}
.schedule .speakers-list .left-section .img-section{border-bottom:1px solid #f58864;margin-top:20px;padding-bottom:20px;}
.schedule .speakers-list .left-section img{border:10px solid rgba(244, 122, 82, 0.5);border-radius:100%;display:inline-block;float:none;}
.schedule .speakers-list .left-section .speaker-social{padding:26px 0}
.schedule .speakers-list .left-section .speaker-social a{color:#fff;font-size:18px;margin:0 15px;transition:font-size 0.35s ease;}
.schedule .speakers-list .left-section .speaker-social a:hover{}
.schedule .speakers-list h3.speaker-topic{font-family:'Montserrat-Bold';font-size:26px;text-align:left;}
.schedule .speakers-list p.topic-description{font-family:"Montserrat-Light";font-size:17px;line-height:30px;text-align:left;}
.schedule .speakers-list .speaker-schedule{border-top:1px solid #f58864;font-family:"Montserrat-Light";font-size:20px;margin-top:30px;padding:22px 0;text-align:left;}
.schedule .speakers-list .speaker-schedule span{display:inline-block;max-width:100%;min-width:220px;}
.schedule .speakers-list .speaker-schedule i{color:#fff}
/*------------------------------------------------------------------
[6.1 Schedule ( with White Background ) / .schedule.white-column ]
*/
.schedule.white-column{background:#fff}
.schedule .column{color:rgb(242, 84, 33);display:inline-block;font-family:"Montserrat-SemiBold";font-size:24px;margin-bottom:50px;text-align:center;text-transform:uppercase;width:100%;letter-spacing:3px;}
.schedule.white-column .nav-tabs > li > a{color:rgb(242, 84, 33);border-color:rgb(242, 84, 33);}
.schedule.white-column .nav-tabs > li.active a, .schedule.white-column .nav-tabs > li.active a, .schedule.white-column .nav-tabs > li > a:hover, .schedule.white-column .nav-tabs > li > a:active, .schedule.white-column .nav-tabs > li > a:focus{background:rgb(242, 84, 33);color:#fff}
.schedule.white-column .speakers-list .speaker-schedule{border-top:none;border-right:1px solid #dbdbdb;margin-top:0px;}
.schedule.white-column .nav-tabs,.schedule.white-column .nav-tabs > li,.schedule.white-column .speakers-list .left-section{border-color:#dbdbdb}
.schedule.white-column .speakers-list{color:#565656;border-color:#dbdbdb}
.schedule.white-column .speakers-list .speaker-schedule i{color:rgb(242, 84, 33);margin-right:10px;}
.schedule.white-column .nav-tabs > li > a{text-transform:uppercase;}
.schedule.white-column .speakers-list .left-section .img-section{border:none;margin-top:0;padding:7px 0}
.schedule.white-column .speakers-list .left-section img{border-color:#eeeeee;border-width:15px;width:70%}
.schedule.white-column .speakers-list .speaker-schedule{padding:15px 30px;margin-bottom:30px}
.schedule.white-column .speakers-list .left-section{margin-bottom:30px;}
.schedule.white-column .speakers-list .speaker-schedule span{padding:20px 30px}
.schedule.white-column .speakers-list .speaker-schedule span.speaker-timing{border-bottom:1px solid #dbdbdb}
.schedule.white-column .speakers-list h3.speaker-topic{font-size:20px;}
.schedule.white-column .speakers-list:hover h3.speaker-topic{color:rgb(242,84,33)}
.schedule.white-column .speakers-list .speaker{float:left;font-size:20px;color:#a1a1a1;font-family:Montserrat-Light;width:100%;text-align:left;}
.schedule.white-column .speakers-list .speaker span{border-right:1px solid #a1a1a1;width:auto;padding-right:15px;display:inline-block;margin-right:15px;}
.schedule.white-column .speakers-list .speaker i{margin-right:10px;}
.schedule.white-column .speakers-list .col-sm-6.col-xs-12 .col-sm-12.col-xs-12{padding:32px 15px}
/*------------------------------------------------------------------
[6.2 Schedule ( with Black Background ) / .schedule.black ]
*/
.schedule.black{background:#131414}
.schedule.black .main-row{border-bottom:1px solid #343535;display:inline-block;margin-bottom:50px}
.schedule.black .main-row .left-item span{color:rgb(242, 84, 33);display:inline-block;font-family:Montserrat-Bold;font-size:24px;padding:15px 45px;text-transform:uppercase;}
.schedule.black .main-row .left-item span i{margin-right:5px;}
.schedule.black .main-row .left-item span .date{font-family:Montserrat-Light;font-size:20px;padding:0;padding-left:35px}
.schedule.black .schedule-item .right-item{border-left:1px solid #343535;border-bottom:1px solid #343535;display:inline-block;width:100%;margin-top:-5px;
}
.schedule.black .schedule-item .right-item:last-child{border-bottom:none;}
.schedule.black .schedule-item .right-item .speaker-schedule{border-right:1px solid #343535;padding-right:30px;}
.schedule.black .schedule-item .right-item .speaker-schedule i{margin-right:10px;}
.schedule.black .schedule-item .right-item .speaker-schedule span{display:inline-block;font-family:"Montserrat-Light";font-size:20px;padding:20px 30px;text-align:left;width:100%;}
.schedule.black .schedule-item .right-item .speaker-schedule span.speaker-timing{border-bottom:1px solid #343535}
.schedule.black .schedule-item .right-item h3.speaker-topic{font-size:20px;font-family:"Montserrat-Bold";}
.schedule.black .right-item:hover .speaker-schedule,.schedule.black .right-item:hover h3.speaker-topic{color:rgb(242,84,33);}
.schedule.black .schedule-item .right-item .speaker{float:left;font-size:20px;color:#a1a1a1;font-family:Montserrat-Light;width:100%;text-align:left;}
.schedule.black .schedule-item .right-item .speaker span{border-right:1px solid #a1a1a1;width:auto;padding-right:15px;display:inline-block;margin-right:15px;}
.schedule.black .schedule-item .right-item .speaker i{margin-right:10px;}
.schedule.black .schedule-item .right-item .col-sm-8.col-xs-12{padding:15px 30px 18px 30px}
/*------------------------------------------------------------------
[7. Sponsors / .sponsors ]
*/
.sponsors{background:url(../images/sponsers-banner.jpg) no-repeat center center fixed;display:table;position:relative;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.sponsors{padding:135px 0}
.sponsors h2.block-title{color:#f25421;font-family:"RobotoSlab-Thin";font-size:60px;margin-bottom:70px;text-align:center;text-transform:uppercase;}
.sponsors p.block-title strong{font-family:'RobotoSlab-Bold'}
.sponsors .sponsors-logo{border-bottom:1px solid #2f3132;display:inline-block;width:100%}
.sponsors .sponsors-logo .logo-item{border-right:1px solid #2f3132;text-align:center;padding:30px 0}
.sponsors .sponsors-logo:last-child{margin-top:-4px;border:none;}
.sponsors .sponsors-logo .logo-item:last-child{border:none;}
.sponsors .sponsors-logo .logo-item img{text-align:center;float:none;display:inline-block;-webkit-filter:grayscale(100%);filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);}
.sponsors .sponsors-logo .logo-item img:hover{-webkit-filter:grayscale(0);filter:grayscale(0);}
.sponsors.orange{background:#f25421}
.sponsors.orange .block-title{color:#fff;margin-bottom:20px;}
.sponsors .column{color:#fff;display:inline-block;font-size:24px;margin-bottom:50px;text-transform:uppercase;font-family:'Montserrat-SemiBold';width:100%;text-align:center;}
.sponsors.orange .sponsors-logo, .sponsors.orange .sponsors-logo .logo-item{border-color:#f4693c}
/*------------------------------------------------------------------
[7.1 Sponsors ( Four items )/ .sponsors.white ]
*/
.sponsors.white{background:#fff}
.sponsors.white .column{color:rgb(242,84,33)}
.sponsors.white .sponsors-logo, .sponsors.white .sponsors-logo .logo-item{border-color:#e0e0e0}
/*------------------------------------------------------------------
[7.2 Sponsors ( Six items )/ .sponsors.black ]
*/
.sponsors.black{background:#131414}
.sponsors.black .column{color:#fff}
.sponsors.black .sponsors-logo, .sponsors.black .sponsors-logo .logo-item{border-color:#303131}
.sponsors.black .col-sm-2.col-xs-6.logo-item{width:20%}
/*------------------------------------------------------------------
[8. Price Section / .prices ]
*/
.prices{padding:135px 0;background-color:#f25421}
.prices p.block-title{color:#fff;text-align:center;}
.event-priceing{border-right:1px solid #f68864}
.event-priceing:last-child{border:none;}
.event-priceing .best-offer{background-color:#1d1e1e;padding:15px 0;text-align:center;font-family:'Montserrat-Bold';font-size:20px;text-transform:uppercase;}
.event-priceing .plan-name{border-bottom:1px solid #f68864;padding:26px 0;text-align:center;padding-top:0;}
.event-priceing .plan-name h6{font-family:"Montserrat-SemiBold";font-size:34px;letter-spacing:7px;margin-bottom:10px;margin-top:10px;text-transform:uppercase;}
.event-priceing .plan-name h6:first-child, .event-priceing .plan-name h6:last-child{padding-top:80px}
.event-priceing .plan-name h6.best-offer-padding{padding-top:22px}
.event-priceing .plan-name small{font-family:'Montserrat-Light';font-size:16px;text-transform:uppercase;letter-spacing:2px;}
.event-priceing .plan-price{border-bottom:1px solid #f68864;padding:10px 0;text-align:center;font-family:'Montserrat-Black';font-size:110px;color:#ffb400}
.event-priceing .plan-price sup{font-family:"Montserrat-Bold";font-size:43px;vertical-align:middle;margin-right:15px;}
.event-priceing .plan-details{padding:25px 0;text-align:center;}
.event-priceing .plan-details ul{margin:0 20% 45px 27%;max-width:200px;}
.event-priceing .plan-details li{font-family:'Montserrat-Light';font-size:24px;text-align:left;margin:15px 0;}
.event-priceing .plan-details li i{color:#fff;margin-right:7px;}
.event-priceing .plan-details .register-now-btn{border:1px solid #fff;margin-left:0px;background-color:#fff;color:#f25421;text-decoration:none;}
.event-priceing .plan-details .register-now-btn i{color:#f25421}
.event-priceing .plan-details .register-now-btn:hover{background-color:transparent;color:#fff}
.event-priceing .plan-details .register-now-btn:hover i{color:#fff}
.prices .get-in-touch{font-family:'Montserrat-SemiBold';font-size:18px;text-align:center;margin-top:40px;}
.prices .get-in-touch a{color:#fff;text-decoration:underline;}
.prices .get-in-touch a:hover{text-decoration:none;}
/*------------------------------------------------------------------
[8.1 Price Section ( with Black Background, Three Columns ) / .prices.black-section ]
*/
.prices.black-section{background:#131414}
.prices.black-section p.block-title{color:#f25421}
.prices.black-section .event-priceing{padding:0}
.prices.black-section .event-priceing:nth-child(3) .plan-name{margin:0 25px;}
.prices.black-section .event-priceing:nth-child(3) .plan-price{padding:26px 0 30px;margin:0 25px;}
.prices.black-section .event-priceing:nth-child(3) .plan-details{padding-top:8px;}
.prices.black-section .event-priceing .plan-name h6{margin-top:30px;}
.prices.black-section .event-priceing .plan-name h6.best-offer-padding{padding-top:0}
.prices.black-section .event-priceing .best-offer{background:#f25421}
.prices.black-section .event-priceing{border-right:1px solid #5a5b5b;}
.prices.black-section .event-priceing:last-child{border:0}
.prices.black-section .event-priceing .plan-price,.prices.black-section .event-priceing .plan-name{border-bottom:1px solid #5a5b5b;}
.prices.black-section .event-priceing .plan-details .register-now-btn{background:transparent;border:1px solid #f25421;color:#fff}
.prices.black-section .event-priceing .plan-details .register-now-btn i{color:#fff}
.prices.black-section .event-priceing .plan-details .register-now-btn:hover{background:#f25421}
.prices.black-section .event-priceing .plan-details li i.fa-times{color:#f25421}
/*------------------------------------------------------------------
[8.2 Price Section ( with White Background, Four Columns ) / .prices.black-section ]
*/
.prices.white-section{background:#fff}
.prices.white-section .event-priceing:last-child{border-right:0}
.prices.white-section .event-priceing .plan-name small,.prices.white-section .event-priceing .plan-name{color:#313131}
.prices.white-section .event-priceing .plan-details{color:#565656}
.prices.white-section p.block-title{color:#f25421}
.prices.white-section .event-priceing{padding:0}
.prices.white-section .event-priceing .plan-name h6{font-size:24px;}
.prices.white-section .event-priceing .plan-price{font-size:80px;}
.prices.white-section .event-priceing:nth-child(4) .inner-pricing .plan-name{padding-bottom:25px;}
.prices.white-section .event-priceing .plan-name h6{margin-top:30px}
.prices.white-section .event-priceing .plan-name h6:first-child, .event-priceing .plan-name h6:last-child{padding-top:58px}
.prices.white-section .event-priceing .plan-name h6.best-offer-padding{padding-top:0}
.prices.white-section .event-priceing .plan-details{padding-top:17px;}
.prices.white-section .event-priceing .plan-details ul{margin:0 20% 45px}
.prices.white-section .event-priceing .plan-details li{font-size:20px}
.prices.white-section .event-priceing .best-offer{background:#f25421}
.prices.white-section .event-priceing{border-right:1px solid #c7c7c7;}
.prices.white-section .event-priceing .plan-price,.prices.white-section .event-priceing .plan-name{border-bottom:1px solid #c7c7c7;}
.prices.white-section .event-priceing .plan-details .register-now-btn{background:#f25421;border:1px solid #f25421;color:#fff;padding:20px 40px;font-size:16px;}
.prices.white-section .event-priceing .plan-details .register-now-btn i{color:#fff}
.prices.white-section .event-priceing .plan-details .register-now-btn:hover{background:transparent;color:#f25421}
.prices.white-section .event-priceing .plan-details .register-now-btn:hover i{color:#f25421}
.prices.white-section .event-priceing .plan-details li i{color:#f25421}
/*------------------------------------------------------------------
[9. Testiominals / .testiominals ]
*/
.testiominals{}
.testiominals p.block-title{text-align:center;}
.testiominals h3{font-family:'Montserrat-SemiBold';font-size:33px;color:#2c2b2b;border-bottom:1px solid #dddddd;padding-bottom:30px;}
.testiominals h4{color:#000;}
.owl-testimonial{color:#333;}
.owl-testimonial .inner-testimonial i.fa-quote-left{font-size:45px;left:30px;position:absolute;}
.owl-testimonial .inner-testimonial .tm-tagline{float:left;font-size:16px;padding-left:75px;width:100%;min-height:125px;letter-spacing:0.2px;line-height:1.5em;}
.owl-testimonial.owl-carousel .owl-item:nth-child(odd){border-right:1px solid #dddddd;}
.owl-testimonial .inner-testimonial{color:#565656;float:left;font-family:Montserrat-Light;padding:20px 35px 0 30px;text-align:left;width:100%;}
.owl-testimonial-2 .tm-userinfo,.owl-testimonial .tm-userinfo{float:left;padding-left:75px;width:100%;position:relative;}
.owl-testimonial-2 .tm-userinfo .tm-userimg,.owl-testimonial .tm-userinfo .tm-userimg{float:left;width:85px;height:85px;border:5px solid #e9e9e9;border-radius:50%;margin-right:15px;}
.owl-testimonial-2 .tm-userinfo .tm-userimg >img,.owl-testimonial .tm-userinfo .tm-userimg > img{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-khtml-border-radius:50%;vertical-align:middle;width:100%;height:100%;}
.owl-testimonial-2 .tm-userinfo .tm-title, .owl-testimonial .tm-userinfo .tm-title{font-family:montserrat-bold;color:#f25421;margin-bottom:5px;}
.owl-testimonial-2 .tm-userinfo .tm-designation,.owl-testimonial .tm-userinfo .tm-designation{color:#969696;font-size:14px;}
.owl-testimonial-2 .tm-userbio > span , .owl-testimonial .tm-userbio > span{bottom:20px;float:right;position:absolute;right:20px;color:#c5c5c5;}
.owl-testimonial-2 .tm-userbio > span i , .owl-testimonial .tm-userbio > span i{color:#c5c5c5;font-size:14px;}
.owl-testimonial .quote{color:rgba(0,0,0,.1);text-align:center;margin-bottom:30px;}
.owl-testimonial.owl-theme .owl-controls .owl-page span{background:#f25421;opacity:0.3;}
.owl-testimonial.owl-theme .owl-controls .owl-page.active span{opacity:1;}
.owl-testimonial.owl-theme .owl-controls{margin-top:45px;}
#fade-quote-carousel.carousel{padding-bottom:60px;}
#fade-quote-carousel.carousel .carousel-inner .item{opacity:0;-webkit-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity;}
#fade-quote-carousel.carousel .carousel-inner .active{opacity:1;-webkit-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity;}
#fade-quote-carousel.carousel .carousel-indicators{bottom:10px;}
#fade-quote-carousel.carousel .carousel-indicators > li{background-color:#e84a64;border:none;}
#fade-quote-carousel blockquote{text-align:center;border:none;}
#fade-quote-carousel .profile-circle{width:100px;height:100px;margin:0 auto;border-radius:100px;}
.schedule.white-column .speakers-list .speaker span .column{color:rgb(242,84,33);display:inline-block;font-size:24px;margin-bottom:50px;text-transform:uppercase;font-family:'Montserrat-SemiBold';width:100%;text-align:center;}
/*------------------------------------------------------------------
[9.1 Testiominals ( Full Width ) / .testiominals.full-width ]
*/
.testiominals.full-width{background:url(../images/testimonial-bg.jpg) no-repeat center center fixed;display:table;height:100%;padding:135px 0 !important;position:relative;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding-bottom:0}
.testiominals.full-width .column{color:#fff}
.testiominals.full-width .owl-testimonial-2{}
.testiominals.full-width .owl-testimonial-2 .inner-testimonial .tm-tagline{border-bottom:1px solid #2f2f2f;padding-left:30px;}
.testiominals.full-width .owl-testimonial-2 .inner-testimonial .tm-tagline span{color:#fff;display:inline-block;font-size:21px;line-height:35px;padding:60px 35px;width:88%;}
.testiominals.full-width .owl-testimonial-2 .inner-testimonial i.fa.fa-quote-left{font-size:50px;padding:60px 40px;border-right:1px solid #2f2f2f}
.testiominals.full-width .owl-testimonial-2 .tm-userinfo{padding:22px 0 22px 55px;}
.owl-testimonial-2 .tm-userinfo .tm-userimg{border-color:#292929}
.testiominals.full-width .owl-testimonial-2 .tm-userbio > span{bottom:50px;}
.testiominals.full-width .owl-theme .owl-controls{margin-top:-65px;}
/*------------------------------------------------------------------
[9.2 Testiominals ( Three Columns ) / .testiominals.three-columns ]
*/
.testiominals.three-columns{background:#f25421}
.testiominals.three-columns .column{color:#fff}
.testiominals.three-columns .inner-testimonial{border-right:1px solid #f5764d}
.testiominals.three-columns .inner-testimonial:last-child{border:none;}
.testiominals.three-columns .tm-date i.fa.fa-quote-left{background:#fff;font-size:27px;padding:13px 15px;border-radius:50%}
.testiominals.three-columns .tm-date span{padding:20px 12px;vertical-align:top;font-family:Montserrat-Bold;font-size:14px;display:inline-block;}
.testiominals.three-columns .tm-date i.fa.fa-calendar-o{color:#fff}
.testiominals.three-columns .tm-tagline{border-bottom:1px solid #f5764d;padding:20px 0}
.testiominals.three-columns .tm-tagline > span{font-family:Montserrat-Light;font-size:14px;line-height:25px;}
.testiominals.three-columns .tm-userinfo{float:left;position:relative;width:100%;padding:20px 0;}
.testiominals.three-columns .tm-userinfo .tm-userimg{display:inline-block;margin-right:15px;width:85px;}
.testiominals.three-columns .tm-userinfo .tm-userimg img{border:5px solid #f4744b;border-radius:50%;border-radius:50%;height:auto;vertical-align:middle;width:100%;}
.testiominals.three-columns .tm-userinfo .tm-userbio{display:inline-block;vertical-align:top;}
.testiominals.three-columns .tm-userinfo .tm-userbio .tm-title{color:#fff;font-family:montserrat-bold;margin-bottom:5px;}

.contact-us .register-now-btn.styles-button,.testiominals .register-now-btn.styles-button{background:rgb(242,84,33);color:#fff}
.contact-us .register-now-btn.styles-button i,.testiominals .register-now-btn.styles-button i{color:#fff}
.contact-us .register-now-btn.styles-button:hover, .testiominals .register-now-btn.styles-button:hover{background:#fff;border-color:rgb(242,84,33);color:rgb(242,84,33)}
.contact-us .register-now-btn.styles-button:hover i,.testiominals .register-now-btn.styles-button:hover i{color:rgb(242,84,33)}
.contact-us #map{height:520px;}
/*------------------------------------------------------------------
[10. Subscribe / .subscribe ]
*/
#subscribe{background:url(../images/subscribe-banner.jpg) no-repeat center center fixed;display:table;position:relative;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.subscribe{text-align:center;}
.subscribe h2.block-title{color:#fff;text-align:center;}
.subscribe .form-control{background:transparent;border:none;border-bottom:1px solid #fff;font-family:'Montserrat-Light';font-size:20px;padding-bottom:10px;padding-bottom:15px;height:auto;}
.form-control{color:#fff}
.subscribe input:hover, .subscribe input:active, .subscribe input:focus{border-color:#fff}
.subscribe .register-now-btn{background:#fff none repeat scroll 0 0;border:1px solid #f25421;color:#f25421;padding:30px 0;width:670px;text-transform:none;}
.subscribe .register-now-btn:hover{background:transparent;color:#fff;border:1px solid #fff}
.subscribe .subscribe-text{font-family:'Montserrat-Light';font-size:14px;margin:30px 0;width:100%;display:inline-block;}
.subscribe .input-group-addon{background:transparent none repeat scroll 0 0;border:none;border-bottom:1px solid #fff;border-radius:0}
.subscribe .input-group-addon i{color:#fff;font-size:26px;}
.subscribe .input-group[class*="col-"]{float:left;margin:0 4%;border-radius:0;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{border-bottom-right-radius:0;}
/*------------------------------------------------------------------
[11. Bottom Social / .bottom-social ]
*/
.bottom-social{padding:40px 0;background-color:#e9e9e9;text-align:center;float:left;width:100%;}
.bottom-social a{color:#c3c2c2;font-size:38px;margin:0 25px;}
.bottom-social a:hover{color:#f25421}
/*------------------------------------------------------------------
[12. contact us / .contact-us ]
*/
.contact-us{}
.contact-left{display:inline-block;width:50%}
.contact-left iframe{width:100%;}
.contact-right{background:#f25421 none repeat scroll 0 0;display:inline-block;font-family:'Montserrat-Light';font-size:20px;margin-left:-4px;padding:30px 50px 50px 50px;text-align:center;vertical-align:top;width:49.6%;}
.contact-right .contact-title{font-family:'Montserrat-Bold';font-size:24px;text-align:left;position:relative;}
.contact-right .contact-title i{background:#fff none repeat scroll 0 0;border-radius:100%;font-size:17px;margin-right:15px;padding:13px;}
.contact-right .contact-details{border-bottom:1px solid #f68864;border-top:1px solid #f68864;padding:30px 0;text-align:left}
.contact-right .contact-details i{color:#fff;margin-left:20px}
.contact-right .contact-title i:after{border-color:rgb(255, 255, 255) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);border-style:solid;border-width:5px;content:"";left:22px;margin-left:-5px;margin-top:29px;position:absolute;z-index:99;}
.contact-right .address > span{display:inline-block;margin-left:30px;vertical-align:top;}
.contact-right .contact-phone{padding:10px 0}
.contact-right .contact-phone a{color:#ffffff;}
.contact-right .contact-phone i{margin-right:25px;margin-left:18px}
.contact-right .contact-email i{margin-right:23px;margin-left:18px}
.contact-right .contact-email a{color:#fff}
.contact-right .register-now-btn{text-align:center;margin-top:27px;background:#fff;color:#f25421;border:1px solid #fff;text-transform:none;}
.contact-right .register-now-btn:hover{background:transparent;color:#fff}
.contact-us .column{color:rgb(242, 84, 33);display:inline-block;font-family:"Montserrat-SemiBold";font-size:24px;margin-bottom:50px;text-align:center;text-transform:uppercase;width:100%;}
section.contact-us.inner-page,.contact-us.form,.contact-us.details-left{padding-bottom:0}
/*------------------------------------------------------------------
[12.1 Contact Us ( Full width Map with Contact Form) / .contact-us.form ]
*/
.contact-us.form .contact-left,.contact-us.form .contact-right{width:100%}
.contact-us.form .contact-right .form{border-right:1px solid #f5764d;padding:0 45px}
.contact-us.form .contact-right .details{padding:0 45px}
.contact-us.form .contact-right .contact-title{font-size:21px;}
.contact-us.form .contact-right .contact-title i{background:transparent;color:#fff;margin-right:0}
.contact-us.form .contact-right .contact-title i::after{content:none;}
.contact-us.form .contact-right .address > span{font-size:16px;line-height:25px;margin-left:15px;}
.contact-us.form .contact-right .form .form-control{background:transparent;border:none;border-bottom:1px solid #f5764d;font-family:'Montserrat-Light';font-size:18px;padding-bottom:10px;padding-bottom:15px;height:auto;padding-top:16px;}
.contact-us.form .contact-right .form .input-group:first-child .form-control{padding-left:16px}
.contact-us .contact-right .form .input-group[class*="col-"]{float:left;margin-bottom:10px;border-radius:0;}
.contact-us.form .contact-right .form .input-group-addon{background:transparent none repeat scroll 0 0;border:none;border-bottom:1px solid #f5764d;border-radius:0}
.contact-us.form .contact-right .form .input-group-addon i{color:#fff;font-size:18px;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{border-bottom-right-radius:0;}
.contact-us.form .contact-right .contact-details{border-bottom:none;}
.contact-us.form .contact-right .contact-details .contact-phone{border-bottom:1px solid #f5764d;border-top:1px solid #f5764d;padding:20px 0;margin:20px 0;font-size:18px;}
.contact-us.form .contact-right .contact-details .contact-phone i{margin-right:15px;}
.contact-us.form .contact-right .contact-details .contact-email{font-size:16px;}
.contact-us.form .contact-right .contact-details .contact-email i{margin-right:15px;}
/*------------------------------------------------------------------
[12.2 Contact Us ( Map With Right Side ) / .contact-us.details-left ]
*/
.contact-us.details-left .contact-right{padding-left:95px;margin-left:0;margin-right:-2px;position:relative;}
.contact-us.details-left .contact-phone{padding:8px 0}
.contact-us.details-left .contact-right .register-now-btn{width:100%;margin-left:0}
.contact-us.details-left .contact-left{margin-left:-1px;display:inline-flex}
.contact-us.details-left .arrow-right{border-bottom:20px solid transparent;border-left:20px solid rgb(242,84,33);border-top:20px solid transparent;height:0;position:absolute;right:-18px;top:100px;width:0;}
/*------------------------------------------------------------------
[13. Footer / footer ]
*/
footer{float:left;width:100%;}
.footer-top{background:#f25421;padding:30px 0}
.footer-left{max-width:100%;display:inline-block;}
.footer-left p{font-family:'RobotoSlab-Thin';font-size:20px}
.footer-left strong{font-family:'RobotoSlab-Bold'}
.footer-right{max-width:100%;text-align:right;float:right;}
.footer-right ul{margin-bottom:0;margin-top:6px;}
.footer-right ul li{display:inline-block;}
.footer-right ul li a{color:#fff;font-family:'Montserrat-Medium';font-size:16px;text-transform:uppercase;}
.footer-right ul li span{margin:0 18px;}
#google_map{height:500px;}
.footer-bottom{background:#e9e9e9;padding:20px 0;text-align:center;color:#f25421}
.footer-bottom p{display:inline-block;margin-bottom:0}
.footer-bottom a{color:#f25421}
.footer-bottom a:hover, .footer-bottom a:active{color:#313131;text-decoration:none;}
/*------------------------------------------------------------------
[14. Back to Top / #back-to-top ]
*/
#back-to-top{position:fixed;bottom:15px;right:40px;z-index:9999;width:60px;height:60px;text-align:center;line-height:55px;background:#f25421;color:#fff;cursor:pointer;border:0;border-radius:50%;text-decoration:none;transition:opacity 0.2s ease-out;opacity:0;font-size:25px;}
#back-to-top:hover{background:#e9ebec;color:#000000;}
#back-to-top.show{opacity:1;}