
<!--{% load static %}-->


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title>3Ws</title>

<link rel="shortcut icon" href="http://d2vyf30iypaegv.cloudfront.net/static/hackathon/icon.ico" type="image/x-icon">

<!-- attach CSS styles -->


    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/bootstrap.min.css' %}" >

    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/owl.transitions.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/style.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/responsive.css' %}" >


</head>

<body>

<div id="home" class="home drawer drawer--left">
  <div class="banner-title ">
      <h1><strong>When Where What </strong>To Do <strong> at HOME</strong></h1>
    <div class="event-schedule">
        <div class="row">
            <form method="post">
              {% csrf_token %}
                <span class="event-date">
                    Ingredients:
                    <input type="text" name="in" placeholder="Enter For Recipe"  style="color: black; opacity: 0.3;">
                </span>



                <span class="event-date">

                    Music Mood:

                   <select name='mood' id='mood'  style="color: black; opacity: 0.3;" >
                        <option selected="selected"  disabled>Mood</option>
                        <option value='dinner'>Dinner</option>
                        <option value='party'>Party</option>
                        <option value='popculture'>Pop Culture</option>
                        <option value='romance'>Romance</option>
                        <option value='decades'>Decades</option>
                        <option value='mood'>Mood</option>
                    </select>

                    </span>
             </div>
        <div class="register-now-section">

                        <button type="submit" value='save' name="submit"  class="register-now-btn">Search <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>

                </div>





</form>



    </div>


    <p class="event-description">Don't You Know What to Do ?
        <strong>Let us to Find Something to Do For You at HOME.</strong>

    </p>



</section>

</body>
</html>