
{% load static %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title>3Ws</title>

<link rel="shortcut icon" href="http://d2vyf30iypaegv.cloudfront.net/static/hackathon/icon.ico" type="image/x-icon">


<!-- attach CSS styles -->


    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >

    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" >


</head>

<body>




<section id="speakers" class="speakers">
  <div class="container">
    <div class="row">
      <h2 class="block-title"><strong>Categories </strong> We Have</h2>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="/static/images/speaker.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">Restaurants</span> <span class="speaker-designation"></span>
            <p class="speaker-meta">Let us help you to find a place to spend some great time with delicious foods.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="/static/images/speaker-1.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">Night Life</span></a> <span class="speaker-designation"></span>
            <p class="speaker-meta">Let us help to find you a best place to get some drinks and spend some crazy time with great musics.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="/static/images/speaker-2.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">Events</span> <span class="speaker-designation"></span>
            <p class="speaker-meta">List of events near you that you might be interested.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="/static/images/speaker-3.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">Landmarks & </span> <span class="speaker-designation">Common Places</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
          </div>
        </div>
      </div>

      <div class="col-md-offset-4 col-sm-4 col-xs-6 " >
        <div class="speaker-block"> <img src="/static/images/speaker-4.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
          </div>
        </div>
      </div>


{#    </div>#}
{#     <p class="text-center"><a href="speakers.html" class="register-now-btn styles-button">Speakers Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>#}
{#  </div>#}
</section>


</body>