{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title>3Ws</title>

<link rel="shortcut icon" href="http://d2vyf30iypaegv.cloudfront.net/static/hackathon/icon.ico" type="image/x-icon">

 
<!-- attach CSS styles -->


    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/bootstrap.min.css' %}" >

    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/owl.transitions.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/style.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'hackathon/css/responsive.css' %}" >


</head>

<body>
<div class="se-pre-con"></div>


<section id="home" class="home drawer drawer--left">
  <div class="container">
    <div class="row">
        <h2 class="block-title"><strong> <a href="#subscribe" style="background-color:black;">Night Life</a></strong></h2>
        <h2 class="block-title"><strong><a href="#schedule" style="background-color:black;">Restaurant Suggestions</a></strong></h2>

        <h2 class="block-title"><strong> <a href="#testiominal" style="background-color:black;">Events</a></strong></h2>
{#        <h2 class="block-title"><strong> <a href="#speakers" style="background-color:black;"> Films Suggestions</a></strong></h2>#}
    </div>
</section>
<section id="subscribe" class="subscribe">
  <div class="container">
    <div class="row">
      <h2 class="block-title"><strong>NIGHT</strong> LIFE AND DRINKS</h2>

      <div class="subscribe-form">
          {% for rest in nightlife %}



              <div class="col-sm-4  col-xs-12">
                <div class="col-sm-12 col-xs-12">
                    {%  if not rest.restaurant.thumb %}
                        <div style="height: 200px; width: 200px; background-color: grey;"></div>
                    {%  else %}
                  <div class="img-section"> <img src="{{rest.restaurant.thumb}}" class="img-responsive"> </div>
                    {% endif %}
                </div>
              </div>

              <div class="col-sm-2  col-xs-12 ">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">{{rest.restaurant.name}}.</h3>
                    <h3 class="speaker-topic">Avg cost for two : {{rest.restaurant.average_cost_for_two}}</h3>
                  <p class="topic-description"><a href="{{rest.restaurant.events_url}}" style="background-color:black;">Click to See</a></p>
                </div>
              </div>

            {% endfor %}
    </div>
  </div>
</section>

<section id="schedule" class="schedule">
  <div class="container">

    <div class="row">
        <h2 class="block-title"  style="background-color:black;"><strong>DELICIOS</strong> FOODS and RESTURANTS</h2>

               {% for rest in restaurants %}



              <div class="col-sm-4  col-xs-12">
                <div class="col-sm-12 col-xs-12">
                    {%  if not rest.restaurant.thumb %}
                        <div style="height: 200px; width: 200px; background-color: grey;"></div>
                    {%  else %}
                  <div class="img-section"> <img src="{{rest.restaurant.thumb}}" class="img-responsive"> </div>
                    {% endif %}
                </div>
              </div>

              <div class="col-sm-2  col-xs-12 ">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">{{rest.restaurant.name}}.</h3>
                    <h3 class="speaker-topic">Avg cost for two : {{rest.restaurant.average_cost_for_two}}</h3>
                  <p class="topic-description"><a href="{{rest.restaurant.events_url}}" style="background-color:black;">Click to See</a></p>
                </div>
              </div>

            {% endfor %}

    </div>

  </div>
</section>
<section id="testiominal" class="testiominals">
  <div class="container">
       <p class="block-title"><strong>Events</strong> Near You</p>
    <div class="row">
        {% for event in events  %}
      <div class="col-sm-6 col-xs-12">


        <div class="owl-testimonial owl-carousel owl-theme" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer">
                <a href="{{event.url}}"> {{ event.name.text }}</a>

                  <div class="inner-testimonial">
                <div class="tm-tagline">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>

                    <span>{{ event.description.text|truncatechars:70 }}</span> </div>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.start.local }}</span>

              </div>



            </div>





              </div>
            </div>
        {% endfor %}
  </div>
  </div>
</section>
{#<section id="speakers" class="speakers">#}
{#  <div class="container">#}
{#    <div class="row">#}
{#      <h2 class="block-title"><strong>Subscribe for</strong> Next eventary</h2>#}
{#      <div class="subscribe-form">#}
{##}
{#          <div class="input-group margin-bottom-sm col-lg-5 col-md-5 col-sm-12  col-xs-12"> <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>#}
{#            <input class="form-control" type="text" placeholder="First Name">#}
{#          </div>#}
{#          <div class="input-group margin-bottom-sm col-lg-5  col-md-5 col-sm-12  col-xs-12"> <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>#}
{#            <input class="form-control" type="text" placeholder="Email address">#}
{#          </div>#}
{#          <div class="col-sm-12 col-xs-12">#}
{#            <p class="no-margin subscribe-text">We guarantee 100% privacy. Your information will not be shared.</p>#}
{#            <a href="#" class="register-now-btn">Get Every Info of Our Next Camp Eventery</a> </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}

<footer>


  <a href="#" id="back-to-top" title="Back to top">&uarr;</a> </footer>
<!-- .Footer --> 

<!-- attach JavaScripts -->




<script type="text/javascript" src="{% static 'hackathon/js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hackathon/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'hackathon/js/eventpremium-script.js' %}"></script>


</body>

</html>




